*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/com/simon/socket/ExampleInstrumentedTest.java
/app/src/test/java/com/simon/socket/ExampleUnitTest.java
/.idea/misc.xml
/app/release/output-metadata.json
